<%= form_for(@forthread) do |f| %>
  <% if @forthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forthread.errors.count, "error") %> prohibited this forthread from being saved:</h2>

      <ul>
      <% @forthread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:forthread,:user_id,@users,:id,:login) %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
