<h1>Listing forum threads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forthreads.each do |forthread| %>
      <tr>
        <td><%= forthread.title %></td>
        <td><%= forthread.user.login %></td>
        <td><%= link_to 'Show', forthread %></td>
        <td><%= link_to 'Edit', edit_forthread_path(forthread) %></td>
        <td><%= link_to 'Destroy', forthread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New forum thread', new_forthread_path %>
