<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @forthread.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @forthread.user.login %>
</p>

<%= link_to 'Edit', edit_forthread_path(@forthread) %> |
<%= link_to 'Back', forthreads_path %>
