<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :forthread_id %><br>
    <%= collection_select(:post,:forthread_id,@forthreads,:id,:title) %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= collection_select(:post,:user_id,@users,:id,:login) %>
  </div>
  <div class="field">
    <%= f.label :location_place %><br>
    <%= f.text_field :location_place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
