<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Forum thread</th>
      <th>Message</th>
      <th>User</th>
      <th>Location place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.forthread.title %></td>
        <td><%= post.message %></td>
        <td><%= post.user.login %></td>
        <td><%= post.location_place %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
