<p id="notice"><%= notice %></p>

<p>
  <strong>Forum thread:</strong>
  <%= @post.forthread.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.login %>
</p>

<p>
  <strong>Location place:</strong>
  <%= @post.location_place %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
